
body {
    border: 0px;
    margin: 0px;
    font-family: Arial;

    font-size: 13px;
}

a {
    text-decoration: none;
    color: #005194;
}

a:hover {
    text-decoration: none;
    color: #ad1400;
}


.ItemService {
    padding-top: 8px;
    font-size: 12px;
}


/* TextBox */
.tblBackgroundTextBox {
    background-color: #fff;
    border: 1px solid #D9D9D9;
    padding: 0px;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding-top: 0px !important;
    margin-bottom: 0px;
    float: left;
}

.tdTextBox {
    padding: 0px 6px 0px;
    vertical-align: top;
}

.divTextBox {
    display: block;
    height: 100%;
}

.TextBox {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: 0px;
    padding: 0;
    margin: 0px;
    width: 100%;
    background-color: transparent;
    left: 0px;
    outline: none;
    height: 100%;
    vertical-align: middle;
}

.TextBox::-ms-clear {
    width: 0;
    height: 0;
}

.TextBox::-ms-clear {
    display: none;
}


.tdBackgroundX {
    width: 20px;
    min-width: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.divBackgroundX {
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.LettreX {
    color: #A1B9ED;
    cursor: pointer;
    display: inline-block;
    font: 27px/13px arial, sans-serif;
    line-height: 1em;
    height: 100%;
}

.BoutonClear {
    text-decoration: none;
    color: #12C;
    cursor: pointer;
    padding: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1em;
    height: 100%;
}


.Gestion_Separateur {
    width: 20px;
}

.Gestion_Titre_Categorie {
    padding-top: 20px;
    font-weight: bold;
    color: #006699;
    font-size: 17px;
}

h3.instrHeader {
    margin-left: 0px;
    padding-top: 0;
    margin-top: 0;
    width: 440px;
    height: 40px;
    background-repeat: no-repeat;
    line-height: 40px;
    _line-height: 21px;
    _display: block;
    _margin: 0;
    _padding: 0;
    padding-top: 0;
    margin-top: 0;
    _margin-top: 8px;
    font-size: 14px;
    color: #ad4d00;
    width: 490px;
    height: 29px;
    _height: 10px;
    border-bottom: 1px solid #e2e2e2;
}


.webPart_Style1,
.webPart_Style2,
.webPart_Style3,
.webPart_Style4 {
    width: 100%;
    margin-bottom: 20px;
}

.webPart_Style1 * td.Entete,
.webPart_Style2 * td.Entete {
    padding-left: 5px;
    height: 22px;
    border-top: 1px solid #B5D3F7;
}

.webPart_Style1 * td.Entete {
    background-image: url(http://zeroday.cegeplabs.qc.ca/images/layouts/Intraflex/intrDegrad_01.gif);
    font-size: 13px;
    text-transform: uppercase;
    color: #ad1400;
    font-weight: bold;
}

.webPart_Style1 * td.Pied,
.webPart_Style2 * td.Pied {
    border-bottom: 1px solid #B5D3F7;
    font-size: 1px;
}

.webPart_Style2 * td.Entete {
    background-image: url(http://zeroday.cegeplabs.qc.ca/images/layouts/Intraflex/intrDegrad_02.gif);
    font-size: 13px;
    text-transform: uppercase;
    color: #005194;
    font-weight: bold;
}

.webPart_Style3 * td.Entete,
.webPart_Style4 * td.Entete {
    vertical-align: middle;
    font-size: 1px;
}

.webPart_Style3 * td.Entete {
    /*border-bottom: 1px solid #8FBD6E;*/
    border-bottom: 1px solid #5577ff;

    font-size: 11px;
    text-transform: uppercase;
    color: #5A7D31;

    font-weight: bold;
}

.webPart_Style4 * td.Entete {
    border-bottom: 1px solid #FFAA29;
    font-size: 11px;
    text-transform: uppercase;
    color: #ad1400;
    font-weight: bold;
}


.webPart_Style3 * td.Pied {
    /*border-bottom: 1px solid #8FBD6E;*/
    border-bottom: 1px solid #5577ff;

}

.webPart_Style4 * td.Pied {
    border-bottom: 1px solid #FFAA29;

}


.webPart_edition_Titre {
    color: #006633;
    font-size: 17px;
    font-weight: bold;
}

.webPart_edition_Lien {
    color: #005194;
    font-size: 12px;
    font-weight: bold;
}

.webPart_LienVersGestion {
    font-size: 10px;
    color: #336699;
}

.webPart_LienVersGestion2 {
    font-size: 11px;
    color: #990000;
}

.webPart_LienGestion {
    font-size: 11px;
    color: #444444;
    font-weight: bold;
}

.TitreSection {
    font-weight: bold;
}


.TitreModule {
    font-weight: bold;
    font-size: 16px;
    color: #ad1400;
    font-family: Arial
}


table.Tableau_Donnees tr td {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px solid #eeeeee;
}

table.Tableau_Donnees tr.Tableau_Entete td {
    background-color: #dedede;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Titre_Actualite {
    padding-top: 10px;
}

table.Tableau_Donnees tr.Tableau_Foot td {
    border-top: 2px solid #dedede;
    border-bottom: 0px;
}

.Instructions_Titre {
    font-size: 11px;
    color: #444444;
    font-weight: bold;
}

.Instructions_Detail {
    color: #444444;
    font-size: 11px;
    font-weight: normal;
}

.Formulaire_Champ {
    font-size: 11px;
    vertical-align: top;
    width: 180px;
    padding-bottom: 5px;
}

.Formulaire_Contenu {
    vertical-align: top;
    font-size: 12px;
    /*padding-bottom:5px;*/
}

.Formulaire_DefChamp {
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
}

.Formulaire_DefChampDesc {
    color: #005194;
    font-size: 10px;
    font-weight: normal;
}


.Gen_Table_AddSet td.Gen_Td_Colonne_Gauche {
    width: 205px;
}

.Gen_Table_AddSet td.Gen_Td_Colonne_Gauche span.Formulaire_DefChamp, .Gen_Table_AddSet .Gen_Td_Colonne_Gauche .Formulaire_Champ, .Gen_Table_AddSet .Formulaire_Champ {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 10px;
}

.Gen_Table_AddSet td span.Formulaire_DefChampDesc {
    font-size: 10px;
    font-weight: normal;
}

.Gen_Table_AddSet .Formulaire_DefChampDesc {
    font-weight: normal;
    font-size: 11px;
    color: #141414;
}

.Gen_Table_AddSet .Titre_Section2 {
    margin-left: -1px;
    margin-bottom: 3px;
}

.Gen_Table_AddSet .Titre_Section2 .Titre_Texte {
    font-size: 20px;
    letter-spacing: 1px;
    color: #464646;
}

.Gen_Btn.Gen_BtnAjouter.Btn_Float_Right {
    float: right;
}

.Gen_BtnActionUpload.Ajouter_Photo_Album {
    margin-top: 0px;
}

.Gen_Btn.Gen_BtnAjouter.Btn_Large {
    width: 170px;
}

.Gen_Btn.Gen_BtnModifier,
.Gen_Btn.Gen_BtnModifier:hover {
    margin-left: 0px;
    float: right;
}

.Gen_Btn.Gen_BtnPrecedent,
.Gen_Btn.Gen_BtnPrecedent:hover {
    float: left;
}

.Gen_Btn.Gen_BtnAjouter.Ajouter_Photo_Album {
    float: left;
}

.Formulaire_CheckBox {
    font-size: 11px;
    vertical-align: top;
}

.Titre_Section2,
.Titre_Section3,
.Titre_Section8 {
    background-image: url(../images/General/separateur.gif);
    background-repeat: repeat-x;
    background-position: center left;
}

.Titre_Section2 .Titre_Texte, .TitrePage {
    background-color: #ffffff;
    padding: 3px;
    padding-left: 0px;
    color: #25517C;
    font-weight: bold;
    font-size: 15px;
}

.Titre_Section8 .Titre_Texte {
    background-color: #e8e3e7;
    padding: 3px;
    padding-left: 0px;
    color: #25517C;
    font-weight: bold;
    font-size: 15px;
}

.Instructions_Titre_Legende {
    font-weight: bold;
    font-size: 11px;
    color: #444444;
    font-family: arial;
}

.Instructions_Gris_Petit {
    font-weight: normal;
    font-size: 11px;
    color: gray;
    font-family: arial;
}

.Titre_Noir {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    font-family: arial;
}

.Titre_Noir_Grand {
    font-weight: bold;
    font-size: 15px;
    color: #000000;
    font-family: arial;
}

.Titre_Rouge {
    font-weight: bold;
    font-size: 14px;
    color: plum;
    font-family: arial;
}

/* Boîte pour transférer vers le login mobile */
.Box_Mobile {
    text-align: center;
    /* Mode landscape */
    margin-bottom: 30px;
    -webkit-text-size-adjust: none;
}

.Box_Mobile #Box_Mobile_Interieure {
    display: inline-block;
    border: 3px solid #178217;
    background-color: #EBEFE3;
    text-align: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 530px;
    padding: 8px;
    cursor: pointer;
}

.Box_Mobile span {
    display: block;
}

.Box_Mobile #Box_Mobile_Image {
    float: left;
    width: 16%;
}

.Box_Mobile h3 {
    color: #199619;
    margin-top: 2px;
    font-size: 1.2em;
}

.Box_Mobile .Box_Mobile_Bottom_Item {
    margin-top: 10px;
}

.Box_Mobile #Box_Mobile_Texte {
    float: left;
    width: 83%;
}

#txtRecherchePortail {
    width: 135px;
    font-size: 11px;
    border: 1px solid #AFAEB0;
    border-right: 0px;
    height: 15px;
    margin: 0px;
    outline: none;
    padding: 1px;

    -webkit-appearance: none;
    border-radius: 0;
}

.txtRechercheDefault {
    font-style: italic;
    color: Gray;
    font-size: 11px;
}

.divBoutonRecherche {
    border: 1px solid #AFAEB0;
    border-left: 0px;
    display: block;
    height: 17px;
    width: 16px;
    background-color: white;
}


.btnRecherche {
    cursor: pointer;
    padding-top: 2px;
}

.hidden {
    display: none;
}

.searchBox {
    width: 155px;
}


/* Lien pour changer de langue
-----------------------------------------------------------*/
#spanChangerLangue {
    display: block;
    font-weight: bold;
    color: #005194;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}

#menu {
    margin: 0;
    padding: 0;
    z-index: 30;
}

#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#divContainerSelectionLangue {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid transparent;
    border-top: 0px;
}

#menuLangue {
    background: #F5F9FE;
    display: none;
    float: left;
    width: 100%;
}

#menuLangue li {
    display: block;
    padding: 0 10px;
    width: 100%;
}

#menuLangue li a {
    margin: 0;
    width: auto;
    white-space: nowrap;
    text-align: left;
    font-size: 10px;
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 90%;
}

#menu .premiereLangue a {
    border-top: 1px solid #DBDBDB;
    margin-top: 5px;
    padding-top: 5px;
}

#divContainerSelectionLangue:hover {
    border: 1px solid #DBDBDB;
    border-top: 0px;
    background: #F5F9FE;
}

#divContainerSelectionLangue:hover #menuLangue {
    display: block;
}

.tdGaucheLangue {
    padding-right: 5px;
    width: 20px;
}


.footer {

    background-color: #FFFFFF;

    border-top: 1px solid #C9C9C9;
    height: 60px;
    padding-bottom: 1px;
    text-align: right;
    width: 100%;
}

.tdFillEspace {
    width: 100%;
}

.tabQuestionSecrete td {
    padding-bottom: 4px;
}